{% extends 'common/base.html' %}

{% block content %}
<main>
    <div class="container">
        <section class="py-lg-5 py-md-3 py-2 text-center">
            <h1>About MR Palace</h1>
            <hr>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim voluptatem nisi non error recusandae eius
                nulla earum corrupti! Maiores, perferendis rem? Vel nisi illo non illum officia iste saepe
                necessitatibus.</p>
        </section>
        <section class="py-lg-5 py-md-3 py-2 text-center">
            <h1>Our Team</h1>
            <hr>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim voluptatem nisi non error recusandae eius
                nulla earum corrupti! Maiores, perferendis rem? Vel nisi illo non illum officia iste saepe
                necessitatibus.</p>
        </section>
        <section class="py-lg-5 py-md-3 py-2 text-center">
            <h1>Our Parteners</h1>
            <hr>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim voluptatem nisi non error recusandae eius
                nulla earum corrupti! Maiores, perferendis rem? Vel nisi illo non illum officia iste saepe
                necessitatibus.</p>
        </section>
    </div>
</main>
{% endblock content%}