{% extends 'common/base.html' %}

{% block content %}
<main>
   <div class="container">
      <section class="py-3">
         <div class="row">
            <div class="col-lg-6 col-md-12">
               <h1>WELCOME TO MR Palace </h1>
               <span>FIND YOUR HOME COMFORTNESS</span>
               <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                  suffered
                  alteration in some form, by injected humour, or randomised words which don't look even
                  slightly
                  believable</p>
            </div>
            <div class="col-lg-6 col-md-12">
               <div class="banner-image">
                  <img src="https://picsum.photos/id/122/1080/720" class="img-fluid" alt="Responsive image">
               </div>
            </div>
         </div>
      </section>
      <section class="my-3 py-5">
         <h2 class="text-center border-bottom">WHY WE ARE?</h2>

         <div class="row mt-5">
            <div class="col custom-box-shadow m-2 ">
               <div class="text-center h1 "><i class="fa-solid fa-heart-circle-check"></i></div>
               <h3 class="text-center">Easy Booking</h3>
               <p class="text-center">Easily book your prefered room from our website.</p>
            </div>
            <div class="col custom-box-shadow m-2">
               <div class="text-center h1 "><i class="fa-regular fa-rectangle-xmark"></i></i></div>
               <h3 class="text-center">Hassel Free Cancelation</h3>
               <p class="text-center">Easily canecle your booking from our website.</p>
            </div>
            <div class="col custom-box-shadow m-2">
               <div class="text-center h1 "><i class="fa-solid fa-star"></i></div>
               <h3 class="text-center">High Rated</h3>
               <p class="text-center">We are one of the high rated hotel in this community.</p>
            </div>
            <div class="col custom-box-shadow m-2">
               <div class="text-center h1 "><i class="fa-solid fa-headset"></i></div>
               <h3 class="text-center">24/7 Support</h3>
               <p class="text-center">We have 24/7 support to hear you.</p>
            </div>
         </div>

      </section>

      <section class="my-3 py-5">
         <div class="pb-5">
            <h2 class="text-center">What people says</h2>
            <hr>
         </div>
         <div class="my-5">
            <div id="carouselExampleControls" class="carousel slide user-reviews d-flex align-items-center"
               data-ride="carousel">
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <div class="row justify-content-around">
                        <div class="col-4 d-flex align-items-center justify-content-center">
                           <div class="user-review-photo">
                              <img class="w-100 h-100 rounded-circle"
                                 src="https://images.unsplash.com/photo-1542596768-5d1d21f1cf98?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80"
                                 alt="...">
                           </div>
                        </div>
                        <div class="col-7 d-flex align-items-center">
                           <p>The room. And also the stuff were amazing and friendly. They offered me a whole suit which
                              was exceeded my expectations. The room was spacious, you can play cricket 😂 I will
                              definitely recommend this hotel.</p>
                        </div>
                     </div>
                  </div>
                  <div class="carousel-item ">
                     <div class="row justify-content-around">
                        <div class="col-4 d-flex align-items-center justify-content-center">
                           <div class="user-review-photo">
                              <img class="w-100 h-100 rounded-circle"
                                 src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80"
                                 alt="...">
                           </div>
                        </div>
                        <div class="col-7 d-flex align-items-center">
                           <p>The room are spacious and clean. The restaurant staffs and security guard are very
                              friendly, Everyone was super welcoming, helpful & friendly, Specially thanks to Mr. Masud.
                              I definitely recommend this for anyone going to Dhaka.
                           </p>
                        </div>
                     </div>
                  </div>
                  <div class="carousel-item ">
                     <div class="row justify-content-around">
                        <div class="col-4 d-flex align-items-center justify-content-center">
                           <div class="user-review-photo">
                              <img class="w-100 h-100 rounded-circle"
                                 src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                                 alt="...">
                           </div>
                        </div>
                        <div class="col-7 d-flex align-items-center">
                           <p>Thanks to everyone there, very good stay for the price, I recommend this hotel for any
                              visitors.</p>
                        </div>
                     </div>
                  </div>
               </div>
               <button class="carousel-control-prev text-dark" type="button" data-target="#carouselExampleControls"
                  data-slide="prev">
                  <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span> -->
                  <i class="fa-solid fa-arrow-left"></i>
                  <span class="sr-only">Previous</span>
               </button>
               <button class="carousel-control-next text-dark" type="button" data-target="#carouselExampleControls"
                  data-slide="next">
                  <!-- <span class="carousel-control-next-icon text-dark" aria-hidden="true"></span> -->
                  <i class="fa-solid fa-arrow-right"></i>
                  <span class="sr-only">Next</span>
               </button>
            </div>
         </div>
      </section>
   </div>

</main>
{% endblock content%}