{% extends 'common/base.html' %}

{% block content %}
<div class="clearfix">

</div>
<section>
    <div class="container pt-5">
        <h2>Rooms</h2>
        <ul class="d-flex justify-content-start ">
            <li class="p-2 mr-1" id="standard-room"><span style="cursor: pointer;" >Standard</span></li>
            <li class="p-2 mr-1" id="delux-room"><span style="cursor: pointer;">Delux</span></li>
            <li class="p-2 mr-1" id="family-suit"><span style="cursor: pointer;">Family Suit</span></li>
            <li class="p-2 mr-1" id="business-suit"><span style="cursor: pointer;">Business Suit</span></li>
        </ul>

        <div>
            <div id="rooms" class="row row-cols-1 row-cols-md-3 g-4">
                {% for room in rooms %}
                <div class="col">
                    <div class="card h-100">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{room.style}}</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Status: {{room.room_status}}</li>
                            <li class="list-group-item">Price: {{room.booking_price}}</li>
                        </ul>
                        <div class="card-footer">
                            <small class="text-muted"><a href="{% url 'room_details' %}?roomNumber={{room.room_number}}">DETAILS</a></small>
                        </div>
                    </div>
                </div>
                {% endfor %}


            </div>
        </div>
    </div>
</section>
{% endblock content %}

{% block javascript %}
<script>
    const roomsElm = document.getElementById("rooms")

    const updateRoomsElement = (filteredRooms) => {
        let innerHtml = ""
        filteredRooms.forEach((room, idx) => {
            innerHtml += `
                <div class="col">
                    <div class="card h-100">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">${room.style}</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Price: ${room.booking_price}</li>
                        </ul>
                        <div class="card-footer">
                            <small class="text-muted"><a href="{% url 'room_details' %}?roomNumber=${room.room_number}">DETAILS</a></small>
                        </div>
                    </div>
                </div>
            `
        }, null)

        roomsElm.innerHTML = innerHtml;
    }
    async function fetchFilteredRooms(roomType) {
        const url = `http://127.0.0.1:8000/hms/rooms/${roomType}`;
        const res = await fetch(url, { "method": "GET" });
        const res_data = await res.json();

        updateRoomsElement(res_data.filtered_rooms)
    }


    const standardRoomElm = document.getElementById("standard-room")
    const deluxRoomElm = document.getElementById("delux-room")
    const familySuitElm = document.getElementById("family-suit")
    const businessSuitElm = document.getElementById("business-suit")

    standardRoomElm.addEventListener('click', () => fetchFilteredRooms("standard"))
    deluxRoomElm.addEventListener('click', () => fetchFilteredRooms("delux"))
    familySuitElm.addEventListener('click', () => fetchFilteredRooms("family"))
    businessSuitElm.addEventListener('click', () => fetchFilteredRooms("business"))

</script>
{% endblock javascript %}