{% extends 'common/base.html' %}
{% block content %}

<section>
    <div class="container pt-5">
        <h2>Please create an Account</h2>
        <form action="{% url 'user_profile:registration' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_{{person_form.name.name}}">Name</label>
                <input required type="text" name="{{person_form.name.name}}" class="form-control"
                    id="id_{{person_form.name.name}}" {% if person_form.name.value%} value="{{person_form.name.value}}"{%endif%} placeholder="Enter name">
            </div>
            <div class="form-group">
                <label for="id_{{person_form.email.name}}">Email address</label>
                <input required type="email" name="{{person_form.email.name}}" class="form-control" id="id_{{person_form.email.name}}" aria-describedby="emailHelp"
                    {% if person_form.email.value%} value="{{person_form.email.value}}"{%endif%} placeholder="Enter email">
                {{person_form.email.errors}}
            </div>
            <div class="form-group">
                <label for="id_{{account_form.password.name}}">Password</label>
                <input required 
                name="{{account_form.password.name}}"
                type="password" 
                class="form-control" 
                id="id_{{account_form.password.name}}" 
                {% if account_from.password.value %} value="{{account_form.password.value}}" {% endif %}
                placeholder="Password"
                >
                {{account_form.password.errors}}
            </div>
            
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</section>
{% endblock content %}